/****** Object:  Table [dbo].[dim_facility]    Script Date: 4/28/2026 1:48:18 AM ******/
USE [AssessmentDB];
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dim_facility]') AND type in (N'U'))
DROP TABLE [dbo].[dim_facility]
GO
/****** Object:  Table [dbo].[dim_facility]    Script Date: 4/28/2026 1:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_facility](
	[facility_id] [int] NOT NULL,
	[facility_name] [varchar](100) NULL,
	[region] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dim_facility] ([facility_id], [facility_name], [region]) VALUES (1, N'Facility_1', N'North')
INSERT [dbo].[dim_facility] ([facility_id], [facility_name], [region]) VALUES (2, N'Facility_2', N'North')
INSERT [dbo].[dim_facility] ([facility_id], [facility_name], [region]) VALUES (3, N'Facility_3', N'North')
GO
