/****** Object:  Table [dbo].[dim_patient]    Script Date: 4/28/2026 1:48:18 AM ******/
USE [AssessmentDB];
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dim_patient]') AND type in (N'U'))
DROP TABLE [dbo].[dim_patient]
GO
/****** Object:  Table [dbo].[dim_patient]    Script Date: 4/28/2026 1:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_patient](
	[patient_id] [int] NOT NULL,
	[age] [int] NULL,
	[gender] [varchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dim_patient] ([patient_id], [age], [gender]) VALUES (1457, 51, N'F')
INSERT [dbo].[dim_patient] ([patient_id], [age], [gender]) VALUES (1038, 83, N'F')
INSERT [dbo].[dim_patient] ([patient_id], [age], [gender]) VALUES (1159, 21, N'F')
GO
