/****** Object:  Table [dbo].[dim_procedure]    Script Date: 4/28/2026 1:48:18 AM ******/
USE [AssessmentDB];
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dim_procedure]') AND type in (N'U'))
DROP TABLE [dbo].[dim_procedure]
GO
/****** Object:  Table [dbo].[dim_procedure]    Script Date: 4/28/2026 1:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_procedure](
	[procedure_id] [int] NOT NULL,
	[procedure_name] [varchar](100) NULL,
	[procedure_category] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dim_procedure] ([procedure_id], [procedure_name], [procedure_category]) VALUES (1, N'Procedure_1', N'B')
INSERT [dbo].[dim_procedure] ([procedure_id], [procedure_name], [procedure_category]) VALUES (2, N'Procedure_2', N'C')
INSERT [dbo].[dim_procedure] ([procedure_id], [procedure_name], [procedure_category]) VALUES (3, N'Procedure_3', N'C')
GO
