/****** Object:  Table [dbo].[dim_surgeon]    Script Date: 4/28/2026 1:48:18 AM ******/
USE [AssessmentDB];
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dim_surgeon]') AND type in (N'U'))
DROP TABLE [dbo].[dim_surgeon]
GO
/****** Object:  Table [dbo].[dim_surgeon]    Script Date: 4/28/2026 1:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_surgeon](
	[surgeon_id] [int] NOT NULL,
	[surgeon_name] [varchar](100) NULL,
	[specialty] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dim_surgeon] ([surgeon_id], [surgeon_name], [specialty]) VALUES (1, N'Surgeon_1', N'Ortho')
INSERT [dbo].[dim_surgeon] ([surgeon_id], [surgeon_name], [specialty]) VALUES (2, N'Surgeon_2', N'Neuro')
INSERT [dbo].[dim_surgeon] ([surgeon_id], [surgeon_name], [specialty]) VALUES (3, N'Surgeon_3', N'Ortho')
GO
