/****** Object:  Table [dbo].[dr_patients]    Script Date: 4/28/2026 1:48:18 AM ******/
USE [AssessmentDB];
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dr_patients]') AND type in (N'U'))
DROP TABLE [dbo].[dr_patients]
GO
/****** Object:  Table [dbo].[dr_patients]    Script Date: 4/28/2026 1:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dr_patients](
	[patient_id] [int] NOT NULL,
	[birth_date] [date] NULL,
	[gender] [varchar](10) NULL,
	[zip_code] [varchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dr_patients] ([patient_id], [birth_date], [gender], [zip_code]) VALUES (1228, CAST(N'1945-08-04' AS Date), N'F', N'12290')
INSERT [dbo].[dr_patients] ([patient_id], [birth_date], [gender], [zip_code]) VALUES (1089, CAST(N'1947-11-07' AS Date), N'M', N'41565')
INSERT [dbo].[dr_patients] ([patient_id], [birth_date], [gender], [zip_code]) VALUES (1517, CAST(N'1950-08-07' AS Date), N'M', N'47253')
GO
