/****** Object:  Table [dbo].[dr_adjustments]    Script Date: 4/28/2026 1:48:18 AM ******/
USE [AssessmentDB];
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dr_adjustments]') AND type in (N'U'))
DROP TABLE [dbo].[dr_adjustments]
GO
/****** Object:  Table [dbo].[dr_adjustments]    Script Date: 4/28/2026 1:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dr_adjustments](
	[adjustment_id] [int] NOT NULL,
	[encounter_id] [int] NULL,
	[adjustment_amount] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dr_adjustments] ([adjustment_id], [encounter_id], [adjustment_amount]) VALUES (985970, 3891, CAST(168.80 AS Decimal(10, 2)))
INSERT [dbo].[dr_adjustments] ([adjustment_id], [encounter_id], [adjustment_amount]) VALUES (621361, 2003, CAST(-259.23 AS Decimal(10, 2)))
INSERT [dbo].[dr_adjustments] ([adjustment_id], [encounter_id], [adjustment_amount]) VALUES (919596, 1324, CAST(227.55 AS Decimal(10, 2)))
GO
