/****** Object:  Table [dbo].[dr_clinic_lookup]    Script Date: 4/28/2026 1:48:18 AM ******/
USE [AssessmentDB];
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dr_clinic_lookup]') AND type in (N'U'))
DROP TABLE [dbo].[dr_clinic_lookup]
GO
/****** Object:  Table [dbo].[dr_clinic_lookup]    Script Date: 4/28/2026 1:48:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dr_clinic_lookup](
	[clinic_id] [int] NOT NULL,
	[clinic_name] [varchar](100) NULL,
	[region] [varchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dr_clinic_lookup] ([clinic_id], [clinic_name], [region]) VALUES (101, N'North', N'A')
INSERT [dbo].[dr_clinic_lookup] ([clinic_id], [clinic_name], [region]) VALUES (102, N'South', N'B')
INSERT [dbo].[dr_clinic_lookup] ([clinic_id], [clinic_name], [region]) VALUES (103, N'East', N'A')
GO
