/****** Object:  View [dbo].[vw_dr_financial_summary]    Script Date: 4/28/2026 1:48:18 AM ******/
USE [AssessmentDB];
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_dr_financial_summary] AS
SELECT
    c.encounter_id,

    SUM(ISNULL(c.charge_amount,0)) AS total_charges,
    SUM(ISNULL(p.payment_amount,0)) AS total_payments,
    SUM(ISNULL(a.adjustment_amount,0)) AS total_adjustments,

    SUM(ISNULL(c.charge_amount,0))
      - SUM(ISNULL(a.adjustment_amount,0)) AS net_charges,

    SUM(ISNULL(c.charge_amount,0))
      - SUM(ISNULL(a.adjustment_amount,0))
      - SUM(ISNULL(p.payment_amount,0)) AS outstanding_balance

FROM dr_charges c

LEFT JOIN dr_payments p
    ON c.encounter_id = p.encounter_id

LEFT JOIN dr_adjustments a
    ON c.encounter_id = a.encounter_id

GROUP BY
    c.encounter_id;
GO
