/****** Object:  View [dbo].[vw_dr_charges]    Script Date: 4/28/2026 1:48:18 AM ******/
USE [AssessmentDB];
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_dr_charges] AS
SELECT
    c.charge_id,
    c.encounter_id,
    e.patient_id, 
    c.charge_amount
FROM dr_charges c
JOIN dr_encounter e
    ON c.encounter_id = e.encounter_id;
GO
